/* BookMain */

.book {
    width: 100%;

    list-style: none;

    background-color: white;
    border-radius: 8px;

    padding: 16px 20px 20px;

    margin-bottom: 16px;

    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
}

.BookPageBook {
    align-items: flex-end;
    margin: 0;
}

@media (min-width: 1281px) {
    .book {
        padding: 16px 100px 20px 20px;
    }

    .BookPageBook {
        padding: 16px 20px 20px;
    }
}

.bookTitle {
    overflow-wrap: break-word;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;

    color: #000000;

    margin: 0;
    margin-bottom: 22px;

}

.bookInfo {
    overflow-wrap: break-word;

    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;

    margin: 0;
    margin-bottom: 12px;


    color: rgba(0, 0, 0, 0.5);
}

.bookPrice {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    margin: 0;
    margin-top: 22px;

    color: #000000;
}

.roubleFont {
    font-family: 'Tahoma Regular';
}
/* Counter */

.counterGroup {
    display: flex;
    align-items: center;

    gap: 0px;
}

.counter {
    width: 60px;
    text-align: center;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    color: rgba(0, 0, 0, 0.5);
}

.minusButton {
    width: 38px;
    height: 38px;

    background-image: url("../../../public/EnabledMinusIcon.png");

    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.minusButton:disabled {
    background-image: url("../../../public/DisabledMinusIcon.png");
}

.plusButton {
    width: 38px;
    height: 38px;

    background-image: url("../../../public/PlusIcon.png");

    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.bookLink {
    text-decoration: none;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');